body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	cursor: pointer;
	color: white;
}
.btn-xl {
	padding: 1em 2em;
	border-radius: 200px;
	background-color: #0076e6;
	border-color: none;
	text-transform: uppercase;
}

.btn:hover {
	font-weight: 600;
	transition: all 0.2s;
	background-color: orange;
	
}


hr {
	border-width: 4px;
	max-width: 70px;
	border-radius: 100px;
	border-color: #0076e6;
}

.buffer {
	height: 208px;
}